<h2>Lista de Empréstimos</h2>
<table>
    <tr>
        <th>Livro</th>
        <th>Usuário</th>
        <th>Data de Empréstimo</th>
        <th>Data de Devolução</th>
        <th>Ações</th>
    </tr>
    @foreach (var emprestimo in Model)
    {
        <tr>
            <td>@emprestimo.Livro.Titulo</td>
            <td>@emprestimo.Usuario</td>
            <td>@emprestimo.DataEmprestimo.ToShortDateString()</td>
            <td>@(emprestimo.DataDevolucao.HasValue ? emprestimo.DataDevolucao.Value.ToShortDateString() : "Em Aberto")</td>
            <td>
                @if (!emprestimo.DataDevolucao.HasValue)
                {
                    <form method="post" asp-action="Devolver">
                        <input type="hidden" name="emprestimoId" value="@emprestimo.Id" />
                        <button type="submit">Devolver</button>
                    </form>
                }
            </td>
        </tr>
    }
</table>
